.badge.components-filteredinputlabel {
  /* make fonts bigger */
  font-size: 90%;

  /* fix align after text-truncate */
  vertical-align: middle;

  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  padding-left: 0.15rem;

  min-height: 1.5rem;

  /* ensure there's some space between filters
     if there are multiple rows in the input */
  margin-top: 1px;
  margin-bottom: 1px;
}

.badge.components-filteredinputlabel > .badge,
.badge.components-filteredinputlabel > svg {
  /* match outer badge font size */
  font-size: 90%;
  line-height: 100%;

  /* we have badge inside a badge, make the inner one a little brighter
     in case both use same color classes */
  filter: brightness(115%);
}

.badge.components-filteredinputlabel > .close {
  /* make close button bigger, to match font size of the badge */
  font-size: 100%;
}
